* {
    @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
    font-family: 'Oxanium', cursive;
}

body {

    text-align: center;
    background-image: url(../imagens/background2.jpg);
}

 .pokedex{
    display: inline-block;
    position: relative;
}

#imagemPokedex{
     width: 100%;
    max-width: 400px;
} 

.pokedex img{
    width: 24%;
} 

.imagemDoPokemon{
    position: absolute;
    bottom: 53%;
    left: 35%;
    max-width: 85px;
}

.dadosPokemon{
    color: #BA110C;
    position: absolute;
    top: 51%;
    left: 27%;
    font-size: clamp(20px, 5vw, 25px);
}

.formulario{
    position: absolute;
    width: 60%;
    top: 63%;
    left: 21%;
}

.input_search{
    width: 100%;
    padding: 2%;
    border: 3px solid #3a444d;
    font-weight: 600;
    border-radius: 5px;
    color: #3a444d;
}

.opcoesPokemon{
    position: absolute;
    top: 69%;
    left: 27%;
    width: 80%;
    display: flex;
    gap: 10%;
}

.botao{
    background-color: #444;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.barraPokemons{
    display: flex;
}